language: php

before_script:
  - sudo apt-get update
  - sudo apt-get install -y redis-server
  - git clone https://github.com/nicolasff/phpredis.git
  - sh -c "cd phpredis && phpize && ./configure && make && sudo make install"
  - echo "extension=redis.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install

php:
  - 5.3
  - 5.4

script:
  - phpunit
